<form (ngSubmit)="onSaveStudent()">
  <h2>{{isAdding ? "Add a New" : "Edit"}} Student</h2>
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name"/>
  <h3>Select Therapy Types</h3>
  <div class="form-control">
    <label for="behavioral"
      >Behavioral
      <input type="checkbox" [(ngModel)]="behavioral" name="behavioral"
    /></label>
  </div>
  <div class="form-control">
    <label for="occupational"
      >Occupational
      <input type="checkbox" [(ngModel)]="occupational" name="occupational"
    /></label>
  </div>
  <div class="form-control">
    <label for="speech"
      >Speech <input type="checkbox" [(ngModel)]="speech" name="speech"
    /></label>
  </div>
  <input type="submit" value="Save" />
</form>
