<!-- <button (click)="addStudent()">Add Student</button> -->
<div id="dashboard">
  <div class="student-container">
    <form class="search-box" (ngSubmit)="onSearch()">
      <input type="text" [(ngModel)]="searchTerms" name="searchTerms" value="{{searchTerms}}"/>
      <input type="submit" value="Search">
      <span class="clear-search" *ngIf="searchTerms !== ''" (click)="onClearSearch()">Clear</span>
    </form>
    <div class='sort-options'>
      <button (click)="onSort()">Sort by Name</button>
    </div>
    <ul class="student-list">
      <li
        class="student-btn"
        *ngFor="let student of students"
        (click)="selectStudent(student)"
      >
        <h2>{{ student.name }}</h2>
      </li>
    </ul>
  </div>
  <student-profile
    class="student-profile"
    *ngIf="selectedStudent || isAdding"
    [student]="selectedStudent"
    (emitSaveStudent)="saveStudent($event)"
    (emitToggleForm)="toggleForm($event)"
    (emitDeleteStudent)="deleteStudent($event)"
    ><!--[adding]="isAdding"--></student-profile
  >
</div>
