<!-- <button (click)="addStudent()">Add Student</button> -->
<div id="dashboard">
  <div class="student-container">
    <form class="search-box" (ngSubmit)="onSearch()">
      <input
        class="search"
        type="text"
        [(ngModel)]="searchTerms"
        name="searchTerms"
        value="{{ searchTerms }}"
        placeholder="Search keywords"
      />
      <input class="submit-search" type="submit" value="Search" />
      <span
        class="clear-search"
        *ngIf="searchTerms !== ''"
        (click)="onClearSearch()"
        >&times;</span
      >
    </form>
    <div class="sort-options">
      <button class="sort-by-name" (click)="onSort()">Sort by Name</button>
      <select class="sort-by-therapy" [(ngModel)]="sortTherapy" (change)="sortByTherapy()">
        <option value="" hidden selected>Sort by therapy</option>
        <option value="behavioral">Behavioral</option>
        <option value="occupational">Occupational</option>
        <option value="speech">Speech</option>
      </select>
    </div>
    <div class='new-student'>
      <button class="new-student-button {{!this.isAdding ? 'add' : 'cancel'}}" (click)="addStudent()">
        {{ !this.isAdding ? 'Add New Student' : 'Cancel' }}
      </button>
    </div>
    <ul class="student-list">
      <li
        class="student-btn"
        *ngFor="let student of students"
        (click)="selectStudent(student)"
      >
        <h2>{{ student.name }}</h2>
      </li>
    </ul>
  </div>
  <student-form 
    *ngIf="isAdding"
    class="student-form"
    [isAdding]="isAdding"
    (saveStudentInfo)="saveStudent($event)"
  ></student-form>
  <student-profile
    class="student-profile"
    *ngIf="selectedStudent"
    [student]="selectedStudent"
    (emitSaveStudent)="saveStudent($event)"
    (emitToggleForm)="toggleForm($event)"
    (emitDeleteStudent)="deleteStudent($event)"
    ><!--[adding]="isAdding"--></student-profile
  >
</div>
