#dashboard {
  display: flex;
  justify-content: space-between;
}
.search-box,
.sort-options,
.new-student {
  margin-bottom: 5px;
  padding-left: 10px;
}
.search{
  width: 60%
}
.clear-search {
  background-color: lightgrey;
  border: 1px solid grey;
  cursor: pointer;
  left: 30.5%;
  position: absolute;
}
.submit-search{
  background-color: rgb(183, 248, 183);
  margin-left: 1%;
  width: 36%;
}
.sort-by-name{
  background-color: rgb(221, 221, 221);
  width: 49%;
}
.sort-by-therapy{
  margin-left: 2%;
  width:49%;
}
.new-student-button{
  width: 100%;
}
.new-student-button.add{
  background-color: rgb(221, 221, 221);
}
.new-student-button.cancel{
  background-color: rgb(243, 161, 161);
}
.student-container {
  min-width: 50%;
  width: 50%;
}
.student-list {
  height: 500px;
  overflow-y: auto;
}
.student-btn {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  margin-bottom: 5px;
  padding: 2.5px 5px;
}
.student-btn.added {
  border-left: 5px solid green;
}
.student-profile, .student-form {
  min-width: 50%;
  padding: 0px 10px;
  width: 50%;
}